.counts {
	background: hsl(266, 93%, 79%);
    border-radius: 15px;
    color: black;
    margin: 20px 0;
    overflow: hidden;
    padding: 8px;
    width: 225px;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}

.header {
    background-color: #3c4752;
    color: white;
}

h3 {
    color: white;
}