button {
	background-color: #009b25;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	margin-left: 10px;
	max-height: 30px;
	padding: 2px 5px;
}

h1 {
	color: white;
}

input {
	margin-left: 10px;
	max-height: 40px;
}

.search {
	color: white;
}

.search-form {
	align-items: center;
	display: flex;
	margin-bottom: 40px;
}