.sortable {
	color: #dd5;
	cursor: pointer;
}

.warning {
	background-color: #da8a8a;
}

table {
	background: #dad8d8;
	border-radius: 15px;
	color: #111;
	margin: 12px 0;
	min-width: 300px;
	overflow: hidden;
	padding: 8px;
}

.header-row {
	background: #43455d;
	color: #fff
}

th, td {
	margin: 5px 10px;
	padding: 6px;
	text-align: left;
}

.stripe {
    background-color: hsl(266, 93%, 79%);
    color: black;
}
